# macOS junk
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/

# Database (VERY IMPORTANT)
*.db

# Logs / temp
*.log

# Environment files (VERY IMPORTANT)
.env
**/.env